<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-dark bg-dark" style="height: 60px;">
      <div class="container-fluid">
        <a href="/" class="fs-6 text-white text-center w-100" style="text-decoration: none;">Account Login</a>
      </div>
    </nav>
  </header>
  <div class="container" style="margin-top: 100px;">
    {{{ body }}}
  </div>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
