<h2 class="text-center fw-bolder">Account Login</h3>
<form action="/login" method="POST" class="text-center">
  <div class="mt-4">
    <input type="text" placeholder="Email" name="mail" class="border border-secondary border-2 p-2" style="width: 280px;">
  </div>
  <div class="mt-4">
    <input type="text" placeholder="Password" name="password" class="border border-secondary border-2 p-2" style="width: 280px;">
  </div>
  <div class="mt-4">
    <button type="submit" class="btn border border-dark fw-bold shadow px-4 py-2 rounded-3">Sign in</button>
  </div>
  <div class="mt-4">
    {{ error }}
  </div>
</form>
